<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Summary:</strong>
  <%=h raw  @article.summary %>
</p>

<p>
  <strong>Content:</strong>
  <%=h raw @article.content %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
